In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [60]:
games_file = pd.read_csv("nfl_games.csv")
games_file.tail()

           date  season home away      lat      long  score1  score2 result
1330  1/15/2017    2016  DAL   GB  32.47 N  -96.48 W      31      34   Loss
1331  1/15/2017    2016   KC  PIT  39.06 N  -94.37 W      16      18   Loss
1332  1/22/2017    2016  ATL   GB  33.45 N  -84.23 W      44      21    Win
1333  1/22/2017    2016   NE  PIT  42.21 N  -71.04 W      36      17    Win
1334   2/5/2017    2016  ATL   NE  33.45 N  -84.23 W      28      34   Loss